<h1>Venta de Empanadas</h1>
<h2>Aplicación Web</h2>


<h3><b>Empanadas de Carne</b></h3>
<p>Valor Unidad: $1500</p>

<h3><b>Empanadas de Pollo</b></h3>
<p>Valor Unidad: $1000</p>

<%= link_to 'Ingresar', new_empanada_path %>